.header {
    width 100%;
    height: 20%;
    margin-bottom: 3px;
    background-color: aquamarine;
}

.left_box {
    width: 20%;
    height: 100%;
    float: left;
    background-color: cornflowerblue;
}

.right_box {

    width: 80%;
    height: 100%;
    float: left;
    background: red;
}

.middle_box {
    width: 100%;
    height: 60%;
}/* in this part dose not same to docs from coding apple becuse I find the way  to sort '<div>' */

.footer {
    width: 100%;
    margin-top: 3px;
    height: 20%;
    background: grey;
}

.container{
    height: 800px;
    width: 800px;
}